<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 引入配置文件 -->
    <properties resource="application.properties"></properties>

    <!-- 为Java实体设置类别名 -->
    <typeAliases>
        <package name="com.juin.report.dao.domain"/>
    </typeAliases>

    <plugins>
        <plugin interceptor="com.juin.report.core.DataAuthenticationPlugin"></plugin>
    </plugins>

    <!-- 配置mybatis运行环境 -->
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <!-- 为mybatis的映射文件mapper.xml设置路径 -->
    <mappers>
        <package name="com/juin/report/dao/mapper"/>
    </mappers>
</configuration>